# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json.lock

# Vite build output
dist/
dist-ssr/
*.local

# Logs
logs/
*.log
*.log.*
npm-cache/
.pnpm-debug.log*

# Editor/OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sw*
*.swo

# TypeScript
*.tsbuildinfo

# Env files (if you add them later)
.env
.env.*
!.env.example